<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel = "stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<body>
<table class="table table-md table-bordered">
    <thead>
    <tr style="text-align: center; vertical-align: middle" >
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Email</th>
        <th scope="col" >Link</th>
    </tr>
    </thead>
    <tbody>
    <tr style="text-align: center; vertical-align: middle" th:each="users2 : ${users}">
        <td th:text="${users2.username}"/>
        <td th:text="${users2.surname}"/>
        <td th:text="${users2.email}"/>
        <td>
            <a th:href="@{/admin/{id}(id = ${users2.getId()})}" th:text="${users2.getUsername()}">user</a>
        <td/>
    </tr>
    </tbody>

</table>
<a th:href="@{/admin/new}">Create new user</a>
<br>
<form action="#" th:action="@{/logout}" method="get">
    <input type="submit" value="exit"/>
</form>
</body>
</html>