<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/admin/{id}/(id = ${users.getId()})}" th:object="${users}">
    <label for="username"> Enter name: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <br/>
    <label for="surname"> Enter surname: </label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <br/>
    <label for="email"> Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <label for="password"> Enter password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <input type="submit" value="Update"/>
</form>
<br>
<form action="#" th:action="@{/logout}" method="get">
    <input type="submit" value="exit"/>
</form>
</body>
</html>
</html>