<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User Page</h1>

<h3 th:text="${user.getUsername()}"></h3>
<h3 th:text="${user.getSurname()}"></h3>
<h3 th:text="${user.getEmail()}"></h3>
<h3 th:text="${user.roles}"></h3>

<br>
<form action="#" th:action="@{/logout}" method="get">
    <input type="submit" value="exit"/>
</form>
</body>
</html>